@font-face{
     src:url(../font/ArbFonts.com/ArbFONTS-4_A5.ttf);
     font-family: 'Abdoullah Ashgar EL-kharef', sans-serif;
  
}
@font-face{
     src:url(../font/ArbFonts.com/ArbFONTS-\ Abdoullah\ Ashgar\ EL-kharef.ttf);
     font-family: 'Abdoullah Ashgar EL-kharef', sans-serif;
     
}
@font-face{
     src:url(../font/ArbFonts.com/ArbFONTS-Abdoullah-Ashgar-EL-kharef.ttf);
     font-family: 'Abdoullah Ashgar EL-kharef', sans-serif;
 
}
body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
     padding: 0px;
     margin: 0px;
}
a{
     text-decoration: none;
}
@media (min-width:990px) {
     .component-welcome{
          background-image: url(../img/backgrond.png);
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 100px;
     gap: 10px;
     position: relative;
     background-position: center;
     }
     .content-component{
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 60px;
          gap: 60px;
          display: flex;
          background: rgba(245, 247, 255, 0.85);
          border-radius: 10px;
          flex: none;
          order: 0;
          flex-grow: 0;
          }
}

@media (min-width: 768px) and (max-width:1024px){
     .content-component{
padding: 3% !important;

     }

}
.img-component img{
     width: 450px;
height: 315px;
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 1;
}

.compoent-defintion h6{
     font-family: ' Abdoullah Ashgar EL-kharef';
font-style: normal;
font-weight: bold;
font-size: 53px;
line-height: 60px;

align-items: center;
text-transform: capitalize;
color: #2D2D2D;
flex: none;
order: 0;
flex-grow: 0
}
.compoent-defintion p{
     font-family: 'Mulish', sans-serif;
     font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
color: #1F1249;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.link-pag{
     display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 50px;
gap: 12px;
/* width:100%; */
height: 60px;

background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
box-shadow: 0px 6px 18px #9CADF2;
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 1;
font-family: 'Mulish', sans-serif;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 140%;
text-align: center;

color: #FFFFFF;
}

.form-compoent{
     display: grid;
     grid-template-rows: 1fr;
     grid-gap: 15px;
}
.from-t{
     background: #FFFFFF;
     border: 1px solid #DBE3FF;
     border-radius: 10px;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 8px 20px;
     gap: 12px;
     height: 60px;
}
.form-compoent label i{
     color: #9CADF2;
    font-size: 16px;

}
.form-compoent label::after{
     content: "";
     position: absolute;
     width: 1px;
     height: 20px;
     background: #DBE3FF;
     margin-left: 6px;
     
}
.form-compoent input,
.form-compoent input::placeholder
{
  border: 0px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
width: 100%;
color: #3B3B3B;

}
.form-compoent input:focus-visible{
     border: 0px;
     outline: -webkit-focus-ring-color auto 0px
}
.form-compoent button{
     border: 0px;
     cursor: pointer;
}
.img-component-rigst img{
     border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

width: 450px;

}
.img-component-sussf img{
     width: 450px;
height: 456px;
}
.link-success{
     font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
text-decoration-line: underline;
color: #1F1249;
padding-top: 20px;

}
@media (max-width:990px) {
     .component-welcome{
          background: rgba(245, 247, 255, 0.85);
          border-radius: 10px;
          
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 1;
          display: flex;
flex-direction: column;
align-items: center;
padding: 40px 0px;
gap: 40px;

     }
     .img-component,.img-component-rigst{
          text-align: center;
     }
     .img-component img{
          width: 315px !important;
          height: 315px !important;
     }
     .img-component-rigst img{
          width: 284px !important;
          height: 315px !important;
          padding: 5%;
     }
     .img-component-sussf img{
          width: 322px;
height: 315px;
     }
     .link-pag{
          width: 100%;
          height: 60px;
          text-align: center;
          margin: auto
     }
     .compoent-defintion{
          text-align: center;
     }
     .compoent-defintion p {

          font-size: 16px !important;
     }
     .compoent-defintion h6{
          font-size: 1.8rem;

     }
     .compoent-defintion,.img-component-rigst img{
padding: 5%;

     }
}

input:-internal-autofill-selected {
background-color: transparent !important;

}
.form-compoent span{
     color: red;
     font-size: 16px;
}